header {
  margin: 2rem;
}

.home-carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-img {
  border-radius: 16px;
}

@media screen and (width >= 1024px) {
  .home-carousel {
    width: 60%;
    margin: 0 auto;
  }
}
